# Ignore macOS system files
.DS_Store

# Ignore log files
*.log
npm-debug.log*

# Ignore IDE/editor configuration folders
.vscode/
.idea/

# Ignore dependency folders (VERY IMPORTANT for later)
node_modules/

 # Add this new rule
website/Other/Latex/